/* Style för header på alla sidor förutom intresse.html */

header {
    position: relative;
}

header img {

 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    width: 100%;
    height: 400px;
   

}

header span {
    position: absolute;
    top: 40%;
    left: 25%;
    font-size: 3rem;
    color: darkblue;
}

/* Style för nav på alla sidor */

nav {
    background-color: rgb(81, 96, 184);
    float: left;
    width: 100%;
    
    margin-bottom: 0.5%;
    
    font-family: cursive;

}

nav a[href] {
    color: white;
}

/* Style för main på alla sidor */

main {
    background-color: white;
    /* float: left; */
    width: 72%;
    /* margin-top: 0.5%; */
    /* margin-right: 7%; */
    /* margin-bottom: 0.5%; */
    /* margin-left: 0.5%; */
    font-family: 'Times New Roman', Times, serif;
}


main figure {
    text-align: center;
    box-shadow: 2px 4px 4px rgb(81, 96, 184)
}

main h1 {
    text-align: center;
    color: rgb(81, 96, 184);
    font-size: 2em;

}

main h2 {
    text-align: center;
    color: rgb(81, 96, 184);

}



main article {
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    
}



.center {
    margin-left: auto;
    margin-right: auto;
}

main #tips {
    text-align: center;
}



main ol {
    color: purple;
    font-family: cursive;
}


main p:hover {
    color: rgb(214, 94, 94);
}


main hr {
    text-align: center;
    border-style:dotted;
    border-width: 2px;
    color: rgb(81, 96, 184);

}

main ul {
    color: rgb(214, 94, 94);
}

main ul #dark {
    color: rgb(214, 94, 94);

}

button {
    background-color:rgb(81, 96, 184) ;
    color:white;
    margin-left: 25px;

}

aside li {
    margin-left: 10px;
}



/* Style för body på alla sidor */
body {
    background-color: white;
}

/* Style för aside på alla sidor */


aside {
    background-color: rgb(214, 94, 94);
    /* float: left; */
    width: 28%;
    /* margin-top: 0.5%; */
    margin-right: 1.5%;
    /* margin-left: 7%; */
    /* margin-bottom: 0.5%; */
    font-family: serif;
    font-style: italic;
    

}

aside h2 {
    text-align: center;
    color: darkblue;
    font-size: 2rem;
    
}




aside blockquote {
margin-left: 8px;
    font-family:serif;
    font-size: 16px;

}

aside ol {
    margin-right: 40px;
}



aside div {
    text-align: center;
}


div.video {
    text-align: center;
}

div.table {
    margin-left: 8%;
    color: rgb(214, 94, 94);


}


div.form {
    background-color: rgb(240, 223, 229);
}

div.form:hover {
    color: rgb(214, 94, 94);
}

div#page {
    width: 86%;
    margin: 0 auto;
    display: flex
}

/* Style för footer på alla sidor */

footer {
    background-color: rgb(81, 96, 184);
    float: left;
    width: 86%;
    margin-top: 0.5%;
    margin-right: 7%;
    margin-bottom: 0.5%;
    margin-left: 7%;
    font-family: monospace;
}

div.wrapper {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;

}

div.wrapper h3 {

    color: rgb(214, 94, 94);

    flex: 1;
    width: 40%;
    margin-left: 15%;


}

div.wrapper img {
    flex: 1;
    width: 30%;
    margin-top: 1%;
    margin-right: 20%;


}


/* Style för galleri */



div.gallery {
    background-color: white;
    box-sizing:flex-box;
    display:flex;

}

figure.item {
    width: 28%;
    border: 1px solid rgb(214, 94, 94);
    background-color: rgb(211, 136, 136);
    margin: 2%;
    float: left;

}

figure.item img {
    width: 100%;
    text-align: center;

}

figure.item figcaption {
    padding: 10px;
    text-align: center;
    
}

figure.item img:hover {
    opacity: 0.7
}


/* För mobil - anpassa utseende för stående */

@media only screen and (max-width: 320px) {
    div.gallery {
        box-sizing:flex-box;
        flex-direction: column;
    
    }
  }

/* För mobil - anpassa utseende för landscape mode */

@media only screen and (max-width: 578px) {
    div.gallery {

        box-sizing:flex-box;
        flex-direction: column;
    
    }
}

/* För plattor - anpassa utseende för 768px */

@media only screen and (max-width: 768px) {
    div.gallery {
        
        box-sizing:flex-box;
        flex-direction: column;
    
    }
}

/* För plattor - anpassa utseende för 1200px*/

@media only screen and (max-width: 1200px) {
    div.gallery {
        
        box-sizing:flex-box;
        flex-direction: column;
    
    }


  }


